<!-- <nav class="nav bg-primary py-2">
    <div class="w-75 d-flex ">
        <div class="d-flex justify-content-end fs-4" >
            <a class="nav-link text-white active" routerLink="/">Viajes</a>
            <a class="nav-link text-white" routerLink="/vehiculos">Vehiculos</a>
            <a class="nav-link text-white" routerLink="/ciudades">Ciudades</a>
            <a class="nav-link text-white" routerLink="/tiposVehiculo">Tipos Vehiculo</a>
        </div>        
    </div>
</nav> -->

<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <div class="container-fluid" style="width: 80%;">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-white active" routerLink="/">Viajes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/vehiculos">Vehículos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/ciudades">Ciudades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/tiposVehiculo">Tipos Vehículos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>



<!-- <nav class="navbar navbar-dark bg-primary">
    <div class="d-flex justify-content-center">
        <ul class="navbar-nav d-flex">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
          </ul>
    </div>
  </nav> -->