<table class="table mb-4">
    <tbody>
        <tr>
            <td>Id Tipo Vehículo</td>
            <th>{{tipo.idTipoVehiculo}}</th>
        </tr>
        <tr>
            <td>Descripción</td>
            <th>{{tipo.descripcion}}</th>
        </tr>
    </tbody>
</table>
<div class="row mt-5">
    <div *ngIf="spinner" class="d-flex justify-content-center">
        <div class="spinner-border text-danger mt-1" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div *ngIf="!spinner" class="d-flex justify-content-center">
        <button class="btn btn-secondary w-25 shadow-none me-2" (click)="cancelar()">Cancelar</button>
        <button class=" btn btn-danger w-25 shadow-none ms-2" (click)="eliminarTipo()">Eliminar</button>
    </div>
</div>